{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Add New User{% endblock %}

{% block page_title %}Add New User Account{% endblock %}


{% block content %}
<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Account details</h3></div>
			<div class="panel-body">
				<form role="form" method="POST" action="{% url 'authentication:register_user' %}">{% csrf_token %}
					{{ form | crispy }}
					<div class="col-md-offset-2">
						<button type="submit" class="btn btn-primary">Add Account</button>
						<button type="reset" class="btn btn-danger">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}