{% extends "base.html" %}

{% block title %}Add Cattle{% endblock %}

{% block page_title %}Add Cattle{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Cattle details</h3></div>
			<div class="panel-body">
				<form role="form" method="POST" action="{% url 'dairy:new-cattle' %}">{% csrf_token%}
					<div class="form-group">
						<label>Tag No.</label>
						<input type="text" name="tag_no" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Cattle Name</label>
						<input type="text" name="name" id="name" class="form-control" required onmouseout="return nameLengthValidation();">
						<div id="name-error" class="val-error"></div>
					</div>
					<div class="form-group">
						<label>Sex</label><br>
						<label class="radio-inline"><input type="radio" name="sex" value="Bull" required> Bull</label>
						<label class="radio-inline"><input type="radio" name="sex" value="Heifer" required> Heifer</label>
					</div>
					<div class="form-group">
						<label>Date of Birth</label>
	                    <input type="text" class="form-control" placeholder="yyyy-mm-dd" id="datepicker" name="dob" required>
	                </div>
					<div class="form-group">
						<label>Cattle Breed</label>
						<select class="form-control" name="breed" required>
							<option selected disabled>--Select Breed--</option>
							{% for breed in breeds %}
							<option value="{{ breed.breed_name }}">{{ breed.breed_name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label>Sire</label>
						<input type="text" name="sire" class="form-control" placeholder="Sired by...">
					</div>
					<div class="form-group">
						<label>Conception method</label>
						<select class="form-control" name="conception_method" required>
							<option selected disabled>--Select Method--</option>
							<option value="AI">AI</option>
							<option value="Natural breeding">Natural breeding</option>
							<option value="Other">Other</option>
						</select>
					</div>
					<div class="form-group">
						<label>Stage</label>
						<select class="form-control" name="stage" required>
							<option selected disabled>--Select Stage--</option>
							<option value="Calf">Calf</option>
							<option value="On-heat">On-heat</option>
							<option value="Expectant">Expectant</option>
							<option value="Lactating">Lactating</option>
							<option value="Dried">Dried</option>
						</select>
					</div>
	                <div class="form-group">
						<label>Raised/Purchased</label><br>
						<label class="radio-inline"><input type="radio" name="gotten_through" value="Raised" required> Raised</label>
						<label class="radio-inline"><input type="radio" name="gotten_through" value="Purchased" required> Purchased</label>
					</div>
					<div class="col-md-offset-2">
						<button type="submit" class="btn btn-primary">Add Cattle</button>
						<button type="reset" class="btn btn-danger">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}