{% extends "base.html" %}

{% block title %}Cattle Sale{% endblock %}

{% block page_title %}Add Cattle Sale Record{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Record Sale</h3></div>
			<div class="panel-body">
				
				<form role="form" method="POST" action="{% url 'dairy:record-milk' %}">{% csrf_token%}
					<div class="form-group">
						<label>Cattle</label>
						<input type="text" class="form-control" placeholder="{{ cattle.name }}">
						<input type="hidden" name="cattle" class="form-control" value="{{ cattle.pk }}">
					</div>
					<div class="form-group">
						<label>Amount</label>
						<input type="text" name="amount" class="form-control">
					</div>
					<div class="form-group">
						<label>Sold to</label>
						<input type="text" name="sold_to" class="form-control">
					</div>
					<div class="form-group">
						<label>Date sold</label>
	                    <input type="text" class="form-control" placeholder="yyyy-mm-dd" id="datepicker" name="date_sold" required>
	                </div>
					<div class="col-md-offset-2">
						<button type="submit" class="btn btn-primary">Record sale</button>
						<button type="reset" class="btn btn-danger">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}