{% extends "base.html" %}

{% block title %}Edit Cattle Details{% endblock %}

{% block page_title %}Edit Cattle{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Cattle details</h3></div>
			<div class="panel-body">
				
				<form role="form" method="POST" action="{% url 'dairy:update-cattle' cattle.pk %}">{% csrf_token%}
					<div class="form-group">
						<label>Tag No.</label>
						<input type="text" name="tag_no" class="form-control" value="{{ cattle.tag_no }}" required>
					</div>
					<div class="form-group">
						<label>Cattle Name</label>
						<input type="text" name="name" class="form-control" value="{{ cattle.name }}" required>
					</div>
					<div class="form-group">
						<label>Cattle Breed</label>
						<select class="form-control" name="breed" required>
							<option value="Black and White Fresian" {% ifequal cattle.breed "Black and White Fresian" %} selected{% endifequal %}>Black and White Fresian</option>
							<option value="Angus" {% ifequal cattle.breed "Angus" %} selected{% endifequal %}>Angus</option>
							<option value="Jersey" {% ifequal cattle.breed "Jersey" %} selected{% endifequal %}>Jersey</option>
						</select>
					</div>
					<div class="col-md-offset-2">
						<button type="submit" class="btn btn-primary">Update Cattle</button>
						<button type="reset" class="btn btn-danger">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}