{% extends "base.html" %}

{% block title %}Served Cattle{% endblock %}

{% block page_title %}Served Cattle{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		{% if messages %}
		{% for message in messages %}
		<div {% ifequal message.tags "warning" %} class="alert alert-danger" {% else %} class="alert alert-{{ message.tags }}" {% endifequal %}>
		{{ message }}
		</div>
		{% endfor %}
		{% endif %}
		
		<div class="card m-b-20">
            <div class="card-block">
            	<div class="page-header">
            		<a class="pull-right btn btn-danger" href="{% url 'breeding:onheat' %}"><i class="mdi mdi-oil-temperature"></i> Cattle On-heat</a>
					<button class="pull-right btn btn-primary" data-toggle="modal" data-target="#breedingRecord"><i class="mdi mdi-plus"></i> Add Breeding Record</button>
					<h2>Served Cattle</h2>
				</div>
				
				<table class="table table-hover table-bordered">
					<thead>
						<th>Cattle name</th>
						<th>Sire</th>
						<th>Breed</th>
						<th>Date served</th>
						<th>Due date</th>
						<th class="text-center">Action</th>
					</thead>
					<tbody>
						{% for cow in cattle %}
						<tr>
							<td><a href="#">{{ cow.cattle }}</a></td>
							<td>{{ cow.sire }}</td>
							<td>{{ cow.breed }}</td>
							<td>{{ cow.date_served | date:"M d, Y" }}</td>
							<td>{{ cow.delivery_due | date:"M d, Y" }}</td>
							<td class="text-center">
								<a href="" style="color: green;"><i class="mdi mdi-baby"></i> Calve</a> | 
								<a href="" style="color: blue; font-size: 16px;"><i class="mdi mdi-pencil-box-outline"></i> Edit</a> |  
								<a href="" style="color: red; font-size: 16px;"><i class="mdi mdi-delete-forever"></i> Delete</a>
							</td>
						</tr>
						{% empty %}
						<tr>
							<td class="text-center"><h3>No served cattle recorded currently!</h3></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

				{% if cattle.has_other_pages %}
				  <ul class="pagination">
				    {% if cattle.has_previous %}
				      <li class="page-item"><a class="page-link" href="?page={{ cattle.previous_page_number }}">Previous</a></li>
				    {% else %}
				      <li class="page-item disabled"><span>&laquo;</span></li>
				    {% endif %}
				    {% for i in cattle.paginator.page_range %}
				      {% if cattle.number == i %}
				        <li class="page-item active">{{ i }} <span class="sr-only">(current)</span></li>
				      {% else %}
				        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
				      {% endif %}
				    {% endfor %}
				    {% if cattle.has_next %}
				      <li class="page-item"><a class="page-link" href="?page={{ cattle.next_page_number }}">&raquo;</a></li>
				    {% else %}
				      <li class="page-item disabled"><span>&raquo;</span></li>
				    {% endif %}
				  </ul>
				{% endif %}
			</div>
		</div>

	</div>
</div>


<!-- Modal -->
<div id="breedingRecord" class="modal fade" role=dialog>
	<div class="modal-dialog">
		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Record breeding</h4>
			</div>
			<div class="modal-body">
			<form role="form" method="POST" action="{% url 'breeding:serve_cattle' %}">{% csrf_token %}
				<div class="form-group">
					<label>Cattle</label>
					<select class="form-control" name="cattle" required>
						<option selected disbaled>--Select cow--</option>
						{% if cows %}
						{% for cow in cows %}
						<option value="{{ cow.cattle.pk }}">{{ cow.cattle }}</option>
						{% endfor %}
						{% endif %}
					</select>
					<div id="cattle_error" class="val-error"></div>
				</div>
				<div class="form-group">
					<label>Conception method</label>
					<select class="form-control" name="method" required>
						<option selected disabled>--Select Method--</option>
						<option value="AI">AI</option>
						<option value="Natural breeding">Natural breeding</option>
						<option value="Other">Other</option>
					</select>
				</div>
				<div class="form-group">
					<label>Sire</label>
					<input type="text" name="sire" class="form-control" placeholder="Sired by...">
				</div>
				<div class="form-group">
					<label>Cattle Breed</label>
					<select class="form-control" name="breed" required>
						<option selected disabled>--Select Breed--</option>
						{% for breed in breeds %}
						<option value="{{ breed.pk }}">{{ breed.breed_name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label>Date serviced</label>
                    <input type="text" class="form-control" placeholder="yyyy-mm-dd" id="datepicker" name="date_served" required>
                </div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Record</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}